# Git
.git
.gitignore
.gitattributes

# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Docker
docker-compose.yml
.dockerignore
Dockerfile

# Documentation
README.md
HELP.md
docs

# Test
**/test-results
**/coverage
