spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
  swagger:
    base-url: http://localhost:8080

logging:
  level:
    root: INFO
    com.sopt.cherrish: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
