spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
    open-in-view: false
  swagger:
    base-url: ${SERVER_URL:http://localhost:8080}

management:
  server:
    port: 8081
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: INFO
    com.sopt.cherrish: INFO
    org.hibernate.SQL: WARN
  discord:
    error-webhook-url: ${DISCORD_ERROR_WEBHOOK_URL:}

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
