spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  swagger:
    base-url: http://localhost:8080
  docker:
    compose:
      file: docker-compose.local.yml
      lifecycle-management: start_and_stop

logging:
  level:
    root: INFO
    com.sopt.cherrish: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
