spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  swagger:
    base-url: ${SERVER_URL:http://localhost:8080}

management:
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.sopt.cherrish: DEBUG
    org.hibernate.SQL: DEBUG
  discord:
    error-webhook-url: ${DISCORD_ERROR_WEBHOOK_URL:}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
