apiVersion: 1

contactPoints:
  - orgId: 1
    name: discord-monitoring
    receivers:
      - uid: discord-monitoring
        type: discord
        settings:
          url: ${DISCORD_MONITORING_WEBHOOK_URL}
          use_discord_username: true
          avatar_url: "https://grafana.com/static/assets/img/fav32.png"
          title: '{{ if eq .Status "firing" }}:rotating_light: ALERT{{ else }}:white_check_mark: RESOLVED{{ end }}'
          message: |
            **:bar_chart: {{ .CommonLabels.rulename }}**

            {{ if eq .Status "firing" }}:red_circle:{{ else }}:green_circle:{{ end }} **Status:** {{ .Status | toUpper }}
            :warning: **Severity:** {{ .CommonLabels.severity | toUpper }}
            :file_folder: **Folder:** {{ .CommonLabels.grafana_folder }}

            {{ range .Alerts }}
            ----------------------
            :clipboard: **Summary:** {{ .Annotations.summary }}
            :memo: **Detail:** {{ .Annotations.description }}
            :link: **View:** {{ .GeneratorURL }}
            {{ end }}
        disableResolveMessage: false
